* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#content {
    display: grid;
}

.header {
    height: 10vh;
    display: flex;
    background-color:chocolate;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    height: 10vh;
    background-color: chocolate;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.main {
    height: 80vh;
    /* border: 5px solid black; */
}