* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#content {
    display: grid;
}

.header {
    height: 10vh;
    display: flex;
    background-color:chocolate;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    height: 10vh;
    background-color: chocolate;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.main {
    display: grid;
    height: 80vh;
    grid-template-columns: 1fr 4fr;
    /* background-color: red; */
    /* border: 5px solid black; */
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    /* border: 1px solid black; */
    padding: 1rem;
    gap: 1rem;

}

.home {
    display: flex;
    flex-direction: column;
}

.mainDisplay {
    background-color: salmon;
}

button {
    width: 150px;
    /* background-color: silver; */
    padding: 0.75rem;
    font-weight: 900;
    font-size: 14px;
    border-radius: 0.75rem;
    margin: 0.25rem;
}

button:hover {
    transform: scale(1.1);
    background-color: silver;
}

.tasksContainer {
    background-color: blue;
    border: 5px solid yellow;
}

.taskElement {
    border: 5px solid white;
    width: 200px;
    background-color: blue;
}

.hidden {
    display: none;
}