* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#content {
  display: grid;
}

.header {
  height: 10vh;
  display: flex;
  background-color: chocolate;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  height: 10vh;
  background-color: chocolate;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.main {
  display: grid;
  height: 80vh;
  grid-template-columns: 1fr 4fr;
  /* border: 5px solid red; */
  /* background-color: red; */
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  /* border: 1px solid black; */
  padding: 1rem;
  gap: 1rem;
}

.home {
  display: flex;
  flex-direction: column;
}

.mainDisplay {
  background-color: white;
  display: flex;
  flex-direction: column;
  /* border: 5px solid red; */
}

button {
  width: 150px;
  padding: 0.75rem;
  font-weight: 900;
  font-size: 14px;
  border-radius: 0.75rem;
  margin: 0.25rem;
}

button:hover {
  transform: scale(1.1);
  background-color: silver;
}

.tasksContainer {
  display: grid;
  background-color: blue;
  border: 5px solid yellow;
}

.taskElement {
  width: max(80%, 500px);
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 0.75rem;
  background-color: lightblue;
  justify-content: center;
  align-items: center;
  align-self: center;
}

input {
  height: 2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.taskForm {
  display: flex;
  flex-direction: column;
  width: max(40%, 200px);
  align-self: center;
}

.hidden {
  display: none;
}

.addNewTask {
  align-self: center;
}

.projectName {
  background-color: black;
  color: white;
  word-wrap: wrap;
  /* width: min(80%, 125px) */
}

.projectsContainer {
  display: flex;
flex-direction: column;
background-color: yellow;
}

.projectDelete {
  width: 100px;
}

.projectTasksContainer {
  /* border: 3px solid red; */
}

.taskForm {
  border: 2px solid black;
  padding: 1rem;
}

.taskElement > input {
  background-color: lightblue;
  border: none;
}

.taskElement > input:hover {
  background-color: rgba(138, 29, 138, 0.5);
}

.activeButton {
  background-color: red;
}